__pycache__/
__pycache__/User.cpython-310.pyc
__pycache__/ApiInterface.cpython-310.pyc
__pycache__/config.cpython-310.pyc
__pycache__/tools.cpython-310.pyc
__pycache__/User.cpython-310.pyc
__pycache__/ApiInterface.cpython-310.pyc
__pycache__/config.cpython-310.pyc
__pycache__/tools.cpython-310.pyc
__pycache__/User.cpython-310.pyc
player_list.json
player_list2.json
__pycache__/ApiInterface.cpython-310.pyc
.gitignore
__pycache__/config.cpython-310.pyc
__pycache__/tools.cpython-310.pyc
.gitignore
~$工作簿1.xlsx
工作簿1.xlsx
__pycache__/ApiInterface.cpython-310.pyc
__pycache__/config.cpython-310.pyc
